form{
	width: 400px;
	color: white;
	display: block;
	margin:auto;
}
img{
	width: 250px;
	height: 250px;
	display: block;
	margin: auto;
	margin-bottom: 8vw;
	margin-top: 3vw;
}
.first{
	height: 780px;
}