.container{
	margin-top: 100px;
}
.option img{
	display: block;
	margin: auto;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
	background-color: rgba(255, 255, 255,0.5);
}
.option h2{
	color: white;
	font-size: 2vw;
}
body{
	background-color: rgb(64, 154, 233);
}
.option img:hover{
		background-color: rgba(255, 255, 255,0.9);
}