.tableFixHead{ 
  overflow-y: auto;
  height: 30vw; 
  margin-top: -5vw;  
}
.tableFixHead th{
  position: sticky;
  top: 0;
  background-color: rgb(64, 154, 233);
  z-index: 1; 
}
table {
 border-collapse: collapse;
  width: 90%;
  color: white;
}
tr{  background-color: rgba(255,255,255,0.3); 
}
h1{
  display: block;
  margin:auto;
  margin-top: 15vh;
  color: white; 
}
button{
  margin-top: 15vh;
}

.Grand{
  word-break: break-all;
}
.Petit img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white; 
}